<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Information Form</title>
  <link rel = "stylesheet" href = "/css/create_new_project.css">

</head>
<body>
  <h3> Project Details</h3>
  <form action="/Create_Project/add_project" method="POST">
    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required>
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" name="description" rows="4" cols="50" required></textarea>
    </div>
    <div>
      <label for="author">Author:</label>
      <input type="text" id="author" name="author" required>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</body>
</html>
