
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    background-color: #c2a8a8;
    color: #fff;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  .remove-link {
    color: red;
    cursor: pointer;
    margin-left: 0px;
  }
  .logo {
    font-family: 'Pacifico', cursive; /* Custom font family */
    font-size: 36px;
    margin-right: 20px;
    color: #0047ab; /* Deep blue color for the logo */
   }
   h3 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 1px 1px 1px #ccc;
   }
   .top-right-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  /* Hover effect for the button */
  .top-right-button:hover {
    background-color: #45a049;
  }